.widget-extended_social_menu {
  ul {
    list-style: none;
    padding: 0;
    margin: 1em 0 0 1em;

    li {
      svg {
      }
      .text {
        display: inline-block;
        margin-left: 0.5em;
        vertical-align: top;
      }
    }
  }
}
