.widget {
  &-title {
    margin-bottom: 1em;
  }

  &.sep-after {
    &:after {
      margin-top: 1.5em;
      margin-bottom: 1.5em;
    }

    &:last-of-type {
      &:after {
        display: none;
      }
    }
  }
}

@import 'about';
@import 'search';
@import 'social-menu';
@import 'extended-social-menu';
