{{- $social := .Site.Params.social -}}

{{- if $social -}}

{{- $defaultConfig := .Site.Data.config.default.widgets.social_menu -}}
{{- $configData := ( or .Site.Data.config.widgets.extended_social_menu $defaultConfig ) -}}
{{- $lang := .Site.Language.Lang -}}
{{- $config := ( ( index $configData $lang ) | default $configData ) -}}

<section class='widget widget-extended_social_menu sep-after'>
  {{- with $config.title -}}
  <header>
    <h4 class='title widget-title'>
      {{- . -}}
    </h4>
  </header>
  {{- end -}}

  <nav aria-label='{{ i18n "socialMenu" }}'>
    <ul>
    {{- range $platform := $config.platforms -}}
      {{- with $username := ( index $social $platform ) -}}
      <li>
      {{ $href := print (index $.Site.Data.theme.social.base $platform) $username }}
      {{ $content := print (index $.Site.Data.theme.social.extendedBase $platform) $username }}
        {{- if not (eq $platform "postal") -}}
        <a href="{{$href|safeURL}}" target='_blank' rel='noopener'>
        {{- end -}}
          <span class='screen-reader-text'>
            {{- if eq $platform "email" -}}
              {{- i18n "contactViaEmail" -}}
            {{- else if eq $platform "postal" -}}
              {{- i18n "postalAddress" -}}
            {{- else if eq $platform "tel" -}}
              {{- i18n "phoneNumber" -}}
            {{- else if eq $platform "web" -}}
              {{- i18n "openWebPage" -}}
            {{- else -}}
              {{- i18n "openAccountInNewTab" ( dict "Platform" ( $platform | title ) ) -}}
            {{- end -}}
          </span>
          {{- partial "svg/icons" $platform -}} <span class="text">{{ $content | safeHTML }}</span>
        {{- if not (eq $platform "postal") -}}
        </a>
        {{- end -}}
      </li>
      {{- end -}}
    {{- end -}}
    </ul>
  </nav>
</section>

{{- end -}}
