<li class='item position'>
  <header class='item-header'>
    <h3 class='item-title'>
      <a href='{{ .Permalink | relURL }}'>
        {{- .Title -}}
      </a>
    </h3>
    {{ partial "companies/link" (dict "Page" . "id" .Params.company) }}
    {{ partial "extras/datesAndDuration" (dict "startDate" .Params.startDate "endDate" .Params.endDate "isCurrent" .Params.isCurrent "positionType" .Params.positionType ) }}
    <p class="summary">
      {{- .Summary -}}
      <a href='{{ .Permalink | relURL }}'>
        Ver más…
      </a>
    </p>
  </header>
</li>

