<meta property='og:title' content='{{ partial "data/title" . }}'>
<meta property='og:description' content='{{ partial "data/description" . }}'>
<meta property='og:url' content='{{ .Permalink }}'>
<meta property='og:site_name' content='{{ .Site.Title }}'>
<meta property='og:type' content='
  {{- if .IsPage -}}
    article
  {{- else -}}
    website
  {{- end -}}
'>

{{- with .Params.cover -}}
  {{- $type := ( printf "%T" . ) -}}
  {{- $isMap := ( not ( eq $type "string" ) ) -}}
  <meta property='og:image' content='
    {{- if $isMap -}}
      {{- .image | absURL -}}
    {{- else -}}
      {{- . | absURL -}}
    {{- end -}}'>
{{- end -}}

{{- with .Params.images -}}
  {{- range first 5 . -}}
    <meta property='og:image' content='{{ . | absURL }}'>
  {{- end -}}
{{- end -}}

{{- if not ( or .Params.images .Params.cover ) -}}
  {{- with .Site.Params.social.email -}}
    <meta property='og:image' content='https://www.gravatar.com/avatar/
      {{- . | md5 -}}
      ?s=256'>
  {{- end -}}
{{- end -}}

{{- with .Params.audios -}}
  {{- range first 5 . -}}
    <meta property='og:audio' content='{{ . | absURL }}'>
  {{- end -}}
{{- end -}}

{{- with .Params.videos -}}
  {{- range first 5 . -}}
    <meta property='og:video' content='{{ . | absURL }}'>
  {{- end -}}
{{- end -}}

{{- if .IsPage -}}
  {{- with .Site.Params.social.facebook -}}
    <meta property='article:author' content='https://facebook.com/{{ . }}'>
  {{- end -}}

  {{- with .Site.Params.opengraph.facebook.pageid -}}
    <meta property='article:publisher' content='{{ . }}'>
  {{- end -}}

  <meta property='article:section' content='{{- .Section -}}'>
{{- end -}}

{{- $dateFormat := "2006-01-02T15:04:05Z07:00" -}}
{{- if .IsPage -}}
  {{- if not .PublishDate.IsZero -}}
    <meta property='article:published_time' content='{{ .PublishDate.Format $dateFormat }}'/>
  {{- else if not .Date.IsZero -}}
    <meta property='article:published_time' content='{{ .Date.Format $dateFormat }}'/>
  {{- end -}}

  {{- if not .Lastmod.IsZero -}}
    <meta property='article:modified_time' content='{{ .Lastmod.Format $dateFormat }}'/>
  {{- end -}}

  {{- if not .ExpiryDate.IsZero -}}
    <meta property='article:expiration_time' content='{{ .ExpiryDate.Format $dateFormat }}'/>
  {{- end -}}
{{- else -}}
  {{- if not .Site.LastChange.IsZero -}}
    <meta property='og:updated_time' content='{{ .Site.LastChange.Format $dateFormat }}'/>
  {{- end -}}
{{- end -}}

{{- with .Site.Params.opengraph.facebook -}}
  {{- with .appid -}}
    <meta property='fb:app_id' content='{{ . }}'>
  {{- end -}}
  {{- range .admins -}}
    <meta property='fb:admins' content='{{ . }}'>
  {{- end -}}
{{- end -}}

{{- partial "head/opengraph/twitter" . -}}
