<li class='item company'>
  <header class='item-header'>
    <h3 class='item-title'>
      <a href='{{ .Permalink | relURL }}'>
        {{- .Title -}}
      </a>
    </h3>
    {{ partial "extras/location" . }}
    <p class="summary">
      {{- .Summary -}}
      <a href='{{ .Permalink | relURL }}'>
        Ver más…
      </a>
    </p>
  </header>
</li>

