{{ partial "header" . }}

<article lang='{{ .Params.lang | default .Lang }}' class='entry company'>
  {{ partial "entry/header" . }}
  {{ partial "entry/cover" . }}
  <div class="container sep-after">
    {{ partial "extras/location" . }}
  </div>
  {{ partial "entry/content" . }}
  {{ partial "positions/block" . }}
</article>
{{ partial "nav/entry_nav" . }}

{{ partial "footer" . }}
