<meta name='twitter:card' content='summary{{- if .Params.cover -}}_large_image{{- end -}}'>

{{- with .Site.Params.opengraph.twitter.page -}}
  <meta name='twitter:site' content='@{{- . -}}'>
{{- end -}}

{{- with .Site.Params.social.twitter -}}
  <meta name='twitter:creator' content='@{{- . -}}'>
{{- end -}}

{{- with .Params.cover -}}
  {{- $type := ( printf "%T" . ) -}}
  {{- $isMap := ( not ( eq $type "string" ) ) -}}
  <meta property='twitter:image' content='
  {{- if $isMap -}}
    {{- .image | absURL -}}
  {{- else -}}
    {{- . | absURL -}}
  {{- end -}}'>
  {{- if $isMap -}}
    {{- with .caption -}}
    <meta property='twitter:image:alt' content='{{ . | markdownify }}'>
    {{- end -}}
  {{- end -}}
{{- end -}}
