<li class='item education'>
  <header class='item-header'>
    <h3 class='item-title'>
      <a href='{{ .Permalink | relURL }}'>
        {{- .Title -}}
      </a>
    </h3>
    {{ partial "schools/link" ( dict "Page" . "id" .Params.school ) }}
    {{ partial "extras/datesAndDuration" (dict "startDate" .Params.startDate "endDate" .Params.endDate "isCurrent" .Params.isCurrent) }}
    <p class="summary">
      {{- .Summary -}}
      <a href='{{ .Permalink | relURL }}'>
        Ver más…
      </a>
    </p>
  </header>
</li>

