{{ partial "header" . }}

{{ partial "header/header" . }}

{{ if .Content }}
<div class='entry'>
  {{ partial "entry/content" . }}
</div>
{{ end }}

<div class='container list-container educations'>
  <ul class='list'>
    {{ range (.Paginator.Pages.ByParam "endDate").Reverse }}
      {{ .Render "li" }}
    {{ end }}
  </ul>

  {{ partial "nav/pagination" . }}
</div>

{{ partial "footer" . }}
