{{ partial "header" . }}

<article lang='{{ .Params.lang | default .Lang }}' class='entry education'>
  {{ partial "entry/header" . }}
  {{ partial "entry/cover" . }}
  <div class="container sep-after entry-place">
    {{ partial "schools/link" (dict "Page" . "id" .Params.school) }}
    {{ partial "extras/datesAndDuration" (dict "startDate" .Params.startDate "endDate" .Params.endDate "isCurrent" .Params.isCurrent) }}
  </div>
  {{ partial "entry/content" . }}
  {{ partial "entry/details" . }}
</article>
{{ partial "nav/entry_nav" . }}

{{ partial "footer" . }}
