<div class='copyleft'>
  <p>
  {{- with .Site.Copyright -}}
    {{ . }}
  {{- else -}}
    {{- with .Site.Params.copyleft -}}

      {{- with .startyear -}}
        {{- if lt ( int . ) now.Year -}}
          {{- $.Scratch.Set "copyleftStartYear" . -}}
        {{- end -}}
      {{- end -}}

      {{ .prefix | markdownify }} &#127279; {{ with ( $.Scratch.Get "copyleftStartYear" ) }}{{ . }}-{{ end }}{{ now.Year }} {{ or .holder $.Site.Title | markdownify }} {{ .suffix | markdownify }}
    {{- end -}}
  {{- end -}}
  </p>
</div>
