{{ $type := .Type }}
{{ $base := .File.BaseFileName }}
{{ range where .Page.Site.Sections "Section" "positions"}}
<div class='container list-container sep-after positions'>
  {{ $pages := (.Pages.ByParam "endDate").Reverse }}
  {{- if (eq $type "companies") -}}
    <h2>{{ i18n "positionsInCompany" }}</h2>
    <ul class='list'>
    {{ range where $pages "Params.company" $base }}
      {{ .Render "li" }}
    {{ end }}
    </ul>
  {{- else -}}
    <h2>{{ .Title }}</h2>
    <ul class='list'>
    {{ range $pages }}
      {{ .Render "li" }}
    {{ end }}
    </ul>
  {{- end -}}

  {{ partial "nav/pagination" . }}
</div>
{{ end }}
