      </main>

      <footer id='footer' class='footer'>
        <div class='container sep-before'>
          <div class='footer-info sep-after'>
            <a class='site-title title' href="{{ .Site.Home.URL }}">{{ .Site.Title }}</a>
            <p class='desc site-desc'>{{ .Site.Params.info.description }}</p>
            {{- $footerWidgets := .Site.Params.widgets.footer -}}
            {{- partial "extras/widget_area" ( dict "Widgets" $footerWidgets "Scope" . ) -}}
          </div>
          {{ partial "nav/menus/main" . }}
          {{ partial "nav/menus/languages" . }}
          {{ partial "footer/copyleft" . }}
        </div>
      </footer>

    </div>
  </div>

  {{- partial "footer/scripts" . -}}

</body>

</html>
