<!DOCTYPE html>
<html lang='{{ .Site.Language.Lang }}'>

{{ partial "head/head" . }}

<body class='{{ partial "header/bodyClasses" . }}'>

  <div class='site'>

    <div class='main'>

      <header id='header' class='header site-header'>
        <div class='container sep-after'>
          <div class='header-info'>
            {{- if eq .Kind "home" -}}
              <h1 class='site-title title'>{{ .Site.Title }}</h1>
            {{- else -}}
              <p class='site-title title'>{{ .Site.Title }}</p>
            {{- end -}}
            <p class='desc site-desc'>{{ .Site.Params.info.description }}</p>
            {{- partial "extras/widget_area" ( dict "Widgets" (slice "social_menu") "Scope" . ) -}}
          </div>
        </div>
      </header>

      <main id='content'>
