{{- if not .Site.Params.settings.hideMainMenu -}}

<nav id='languages-menu' class='menu main-menu' aria-label='{{ i18n "languagesMenu" }}'>
  {{ i18n "navigateIn" }}
  <div class='container'>
    <ul>
      <li class='item current'><strong>{{ .Lang }}</strong></li>
      {{ range .Site.Home.Translations }}
      <li class='item'>
        <a href='{{ .Permalink }}'>
          {{- .Lang -}}
        </a>
      </li>
      {{ end }}
    </ul>
  </div>
</nav>

{{- end -}}




