{{- if not .Site.Params.settings.hideMainMenu -}}

<nav id='main-menu' class='menu main-menu' aria-label='{{ i18n "mainMenu" }}'>
  {{ i18n "mainMenuTitle" }}
  <div class='container'>
    <ul>
    {{- range .Site.Menus.main -}}
      {{- $isCurrent := ( or ( $.IsMenuCurrent "main" . ) ( $.HasMenuCurrent "main" . ) ) -}}
      <li class='item {{- if $isCurrent }} current {{- end -}}'>
        <a {{ if $isCurrent -}} aria-current='page' {{ end -}} href='{{ .URL }}'>
          {{- .Name -}}
        </a>
      </li>
    {{- end -}}
    </ul>
  </div>
</nav>

{{- end -}}
