.footer {
  .sep-before {
    &:before {
      border-bottom-color: $color__accent;
      border-bottom-color: var(--color-accent);
    }
  }

  .container > div,
  .container > section {
    width: 100%;
    margin-top: 1em;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 2em;
    }
  }
}

.footer-info {
  margin-top: 1.5em;

  .title {
    @include font-size(1.5) margin-bottom: 0;
  }

  .desc {
    margin: 0.5em 0 0;
  }
}
