.site {
  overflow-x: hidden;
}

.main {
  width: 100%;
  padding-top: 2em;

  transition: margin-left $transition-duration;

  @include screen($breakpoint-medium) {
    width: auto;
  }
}

.container {
  width: 100%;
  max-width: $container__max-width;

  padding: 0 $container__gutter;
  margin: 0 auto;
}

.sep {
  &-after:after,
  &-before:before {
    content: '';
    display: block;
    width: 4em;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    border-bottom: 0.125em solid $color__grey;
  }
}

@import 'header';

@import 'entry/entry';

@import 'lists';

@import 'footer';

@import 'positions/positions';

@import 'others/others';

@import 'widgets/widgets';
