.list {
  margin: 0 auto;
  list-style: none;

  &-container {
    .entry + & {
      margin-top: 2.5em;
    }
  }

  .item {
    display: flex;
    width: 100%;
    margin-top: 1em;

    &:first-of-type {
      margin-top: 0;
    }

    &-header {
      flex: 1;
    }

    &-title {
      @include font-size(1.2);
      font-weight: bold;
      margin-bottom: 0;
      line-height: inherit;
    }

    .icon {
      margin-right: 0.25em;
    }

    .summary {
      font-size: 0.8em;
    }
  }
}
