{{ $start := (time $.startDate) }}
{{ $s := newScratch }}
{{ $s.Set "end" $.endDate }}
{{ if $.isCurrent }}
  {{ $s.Set "end" (now.Format "2006-01-02") }}
{{ end }}
{{ $end := (time ($s.Get "end")) }}
{{ if eq $.details "high" }}
  {{ $s.Set "startFormat" (dateFormat "2006-01-02" $start) }}
  {{ $s.Set "endFormat" (dateFormat "2006-01-02" $end) }}
{{ else }}
  {{ $s.Set "startFormat" (dateFormat "2006-01" $start) }}
  {{ $s.Set "endFormat" (dateFormat "2006-01" $end) }}
{{ end }}
<span class="dates">
  <time class="start" datetime="{{ dateFormat "2006-01-02" $start }}">{{ $s.Get "startFormat" }}</time>
{{if $.isCurrent }}
  <time class="end">{{i18n "currently"}}</time>
{{ else if ne ($s.Get "startFormat") ($s.Get "endFormat") }}
  <time class="end" datetime="{{ dateFormat "2006-01-02" $end }}">{{ $s.Get "endFormat" }}</time>
{{ end }}

{{ $delta := (sub $end.Unix $start.Unix) }}
{{ $deltaDays := div $delta 86400 }}
{{ $deltaWeeks := div $delta 604800 }}
{{ $deltaMonths := div $delta 2592000 }}
{{ $deltaDaysRest := sub $deltaDays (mul $deltaMonths 31) }}
{{ $deltaYears := div $delta 31536000 }}
{{ $deltaMonthsRest := sub $deltaMonths (mul $deltaYears 12) }}
{{ if eq $deltaWeeks 0 }}
  <time class="duration" datetime="{{ printf "PT%dD" $deltaDays }}">
    {{i18n "days" $deltaDays }}
  </time>
{{ else if eq $deltaMonths 0 }}
  <time class="duration" datetime="{{ printf "PT%dD" $deltaDays }}">
    {{i18n "weeks" $deltaWeeks }}
  </time>
{{ else if lt $deltaMonths 12 }}
  <time class="duration" datetime="{{ printf "PT%dM%dD" $deltaMonths $deltaDaysRest }}">
    {{i18n "months" $deltaMonths }}
  </time>
{{ else }}
  <time class="duration" datetime="{{ printf "PT%dY%dM%dD" $deltaYears $deltaMonthsRest $deltaDaysRest }}">
    {{i18n "years" $deltaYears }}
    {{ if gt $deltaMonthsRest 0 }}
      {{i18n "months" $deltaMonthsRest }}
    {{ end }}
  </time>
{{end}}

  {{ with $.positionType }}
  <span class="type">
    {{i18n $.positionType }}
  </span>
  {{ end }}
</span>
