{{- if $.languages -}}
<div class="languages">
  <h4>{{i18n "languages"}}</h4>
  {{- partial "extras/languagesList" (dict "Page" $.Page "languages" $.languages) -}}
  {{ if $.languagesAlso }}
    ({{i18n "ocasionally"}}
    {{- partial "extras/languagesList" (dict "Page" $.Page "languages" $.languagesAlso) -}}
    )
  {{ end }}
</div>
{{- end -}}
