{{- if $.skills -}}
<div class="mainSkills">
  <h4>{{i18n "mainSkills"}}</h4>
  {{- partial "extras/skillsList" (dict "Page" $.Page "skills" $.skills) -}}
</div>
{{- if $.skillsAlso -}}
<div class="otherSkills">
  <h4>{{i18n "otherSkills"}}</h4>
  {{- partial "extras/skillsList" (dict "Page" $.Page "skills" $.skillsAlso) -}}  
</div>
{{- end -}}
{{- end -}}
